//##############################################################
// Global values
$primarycolor: black;
$backgroundcolor:white; 

$small-column-width: 20vw;
$small-margin-gutter: 4vw;
$medium-column-width: 10vw;
$meduim-margin-gutter: 2.2222222vw;
$large-padding-top-bottom: 2vh;

$small-shape-height: 3em;

$medium-edge-curve: 10px;

$nav-shadow: 0 0 10px rgba(0,0,0,0.19);
$content-shadow: 0 0 3px rgba(0,0,0,0.19);

//##############################################################
// Global styles
body{
  background-color:$backgroundcolor;
  text-align: center;
}

h1{
  color: $primarycolor;
}

p{
  color: $primarycolor;
}

.nav-bar {
  display: grid;
  background-color: $backgroundcolor;
  box-shadow: $nav-shadow;
  div {
    // background-color: orange; //To check spacing
    white-space: nowrap;
  }
}

.content-shapes{
  display: grid;
  div {
    border-radius: $medium-edge-curve;
    box-shadow: $content-shadow;
  }
  div:hover{
    background-color: linen;
  }
}


//##############################################################
// Styles for different sized screens
/* For small screens (phones), 600px or less*/
@media screen and (max-width: 600px){
  .nav-bar {
    font-size: 1.8em;
    padding: $small-margin-gutter;
    grid-gap: $small-margin-gutter;
    grid-template-columns: $small-column-width $small-column-width $small-column-width $small-column-width;
  }
  .content-shapes{
    font-size:1.4em;
    grid-template-columns: $small-column-width $small-column-width $small-column-width $small-column-width;
    grid-gap: $small-margin-gutter;
    padding: $small-margin-gutter;
    div {
      padding: $small-margin-gutter;
    }
    .content1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content2 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content4 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content5 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content6 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content7 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content8 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}

/* For medium screens (large phones/tablets), 600px or more*/
@media screen and (min-width: 600px){
  .nav-bar {
    font-size: 2.4em;
    padding: $meduim-margin-gutter;
    grid-gap: $meduim-margin-gutter;
    grid-template-columns: $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
  }

  .content-shapes{
    font-size: 1.8em;
    grid-template-columns: $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
    padding: $meduim-margin-gutter;
    grid-gap: $meduim-margin-gutter;
    div {
      padding: $meduim-margin-gutter;
    }
    .content1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content2 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content3 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content4 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
    .content5 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content6 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content7 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content8 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
  }
}

/* For large screens (laptops), 992px or more*/
@media screen and (min-width: 992px){
  .nav-bar {
    font-size: 3em;
    padding: $meduim-margin-gutter;
    grid-gap: $meduim-margin-gutter;
    grid-template-columns: $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
  }
  .content-shapes{
    font-size:1.4em;
    padding: $large-padding-top-bottom $meduim-margin-gutter; 
    grid-template-columns:  $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
    grid-gap: $meduim-margin-gutter;
    div {
      padding: $meduim-margin-gutter;
    }
    .content1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content2 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content3 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content4 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
    .content5 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content6 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content7 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content8 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
  }
}

/* For extra large screens (large laptop), 1200px or more*/
@media screen and (min-width: 1200px){
  .nav-bar {
    font-size: 3em;
    padding: $large-padding-top-bottom $meduim-margin-gutter;
    grid-gap: $meduim-margin-gutter;
    grid-template-columns: $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
  }
  .content-shapes{
    font-size:1.4em;
    padding: $large-padding-top-bottom $meduim-margin-gutter; 
    grid-template-columns:  $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width $medium-column-width;
    grid-gap: $meduim-margin-gutter;
    div {
      padding: $meduim-margin-gutter;
    }
    .content1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content2 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content3 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content4 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
    .content5 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .content6 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .content7 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .content8 {
      grid-column-start: 7;
      grid-column-end: 9;
    }
  }
}