//imports------------
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap');

//Styles--------------

div {
  white-space: pre-wrap;
}// to enable /n to create a new line

p {
  font-family: 'Roboto', sans-serif;
}

.heading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightcyan;
}

.main-heading {
  font-size: 4.2rem;
  text-align: Left;
  font-family: 'Patua One', cursive;
  background-color: lightcyan;
}

.email-container {
  height: 3rem;
  width: 3rem;
  border-style: solid;
  border-color: blue;
  border-radius: 50%;
  .email-icon{
    font-size: 2em;
    color: blue;
  }
  &:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.28);;
  }
}