//imports------------
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap');

//Styles--------------
$boldBlue: #0D19A3;
$boldPink:#D9B08C;
$softPink:#FFCB9A; 

div {
  white-space: pre-wrap;
}// to enable /n to create a new line

p {
  font-family: 'Roboto', sans-serif;
  margin:0.05rem;
}

.heading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-heading {
  font-size: 4.2rem;
  text-align: Left;
  font-family: 'Patua One', cursive;
}

.email-container {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-style: solid;
  border-color: $boldBlue;
  border-radius: 50%;
  .email-icon{
    font-size: 2em;
    text-align: center;
    color: $boldBlue;
  }
  &:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0.0,0.50);  
  }
}

.name-container {
  font-size:1rem;
  border-style: solid;
  width: 10rem;
  color: $boldBlue;
  position: fixed;
  top: 1rem;
  left: 1rem;
  p {
    font-size: 1.2rem;
    text-align: center;
    color: $boldBlue;
  }
}

.scroll-container {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  border-style: solid;
  border-color: $boldBlue;
  border-radius: 50%;
  .scroll-icon{
    font-size: 2em;
    text-align: center;
    color: $boldBlue;
  }
  &:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0.0,0.50);  
  }
}