//imports------------
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap');

//Styles--------------

div {
  white-space: pre-wrap;
}// to enable /n to create a new line

p {
  font-family: 'Roboto', sans-serif;
}

.heading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightcyan;
}

.main-heading {
  font-size: 4.2rem;
  text-align: Left;
  font-family: 'Patua One', cursive;
  background-color: lightcyan;
}