:root {
  --primary-color: black;
  --background-color:white;  
  --margin-width-small-screen: (16/360)%;
  --column-width-small-screen: (70/360)%;
  --gutter-width-small-screen: (16/360)%; 
  --height-nav-small-screen: 8%;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-size: var(--very-large-font);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
p {
  color: black;
  font-size: var(--small-font);
}

@media screen and (min-width: 360px) {
  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: var(--small-font);
  }

  .nav-bar-grid {
    display: block;
    height: var(--height-nav-small-screen);
    max-width: 100%;
    background-color:var(--background-color);
  }
}