:root {
  --primary-color: #1F6521;
  --secondary-color:#DCDCDC;
  --background-color:white;
  --success-color: #green;
  --fail-color: #red;
  --light-grey: #grey;
  --light-dark-grey: #grey;
  --medium-grey:#grey;
  --dark-grey:#grey;

  --distant-shadow:0 4px 8px 0 #808080, 0 6px 20px 0 #808080;
  --strong-shadow: 0;
  --hover-shadow:0;
  --subtle-shadow:0; 
  
  --very-large-font: 6em;
  --large-font: 3em;
  --medium-large-font: 2.4em;
  --medium-font: 1.25em;
  --small-font:1em;
  --very-small-font:0.8em;

  --small-border: 2px;
  --medium-border: 4px;
  --large-border: 8px;


}

body {
  background-color: var(--background-color);
  text-align: center;
}

h1 {
  color: var(--background-color);
  font-size: var(--very-large-font);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--secondary-color);
  font-size: var(--large-font);
  text-align: left;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  color: var(--secondary-color);
  font-size: var(--medium-large-font);
  text-align: left;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  color: var(--secondary-color);
  font-size: var(--medium-font);
  text-align: left;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  color: black;
  font-size: var(--small-font);
}

.simple-box {
  background-color: white;
  border-color: var(--secondary-color);
  border-style: solid;
  border-width: 0.4em;
  border-radius: var(--large-border);
  padding: 0px 10px 0px 10px;
  margin: 25px 50px 75px 50px;
  box-shadow: var(--distant-shadow);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color:var(--primary-color);
  padding: 10px;
  text-align: center;
}