:root {
  --primary-color: black;
  --background-color:white;  
  --margin-width-small-screen: (16/360)%;
  --column-width-small-screen: (70/360)%;
  --gutter-width-small-screen: (16/360)%; 
  --height-nav-small-screen: 8%;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

h1 {
  color: var(--primary-color);
}

p {
  color: black;
}

/* For small screen, 360px or less */
@media screen and (max-width: 360px) {
  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: var(--small-font);
  }


  .nav-bar{
    max-width: 100%;
    max-height: 10%;
    background-color:var(--background-color);
  }

}